<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Update Bookings</title>
    <style>
        *{
            padding: 0;
            margin: 0;
        }
        .container{
            min-height: 50vh;
            width: 50%;
            position: absolute;
            top: 50%;
            left: 50%;
            border: 1px solid black;
            transform: translate(-50%,-50%);
        }
        form{
            height: 100%;
            width: 100%;
            display: grid;
            grid-template-rows: repeat(2,2fr);
            grid-template-columns: repeat(2,2fr);
        }
        .inputblock{
            padding: 10px;
            width: 100;
        }
        .inputblock input{
            width: 100%;
        }
    </style>
</head>
<body>
    <div class="container">
        <form action="">
            <div class="inputblock">
                <input type="text" placeholder="name">
            </div>
            <div class="inputblock">
                <input type="text" placeholder="name">
            </div>
            <div class="inputblock">
                <input type="text" placeholder="name">
            </div>
            <div class="inputblock">
                <input type="text" placeholder="name">
            </div>

        </form>
    </div>
</body>
</html>